body {
  margin: 0px; }

#gw_article {
  height: 100%;
  width: 100%; }

.row {
  width: 100%;
  height: 100px;
  display: block;
  font: bold 18px Georgia, serif;
  color: white; }
  .row .cell:nth-child(4n+1) {
    background-color: #f5b013;
    float: left; }
  .row .cell:nth-child(4n+2) {
    background-color: #239bf5;
    float: right; }
  .row .cell:nth-child(4n+3) {
    background-color: #789025;
    float: left; }
  .row .cell:nth-child(4n+4) {
    background-color: #f52d2b;
    float: right; }

.cell {
  height: 100%;
  width: 50%;
  margin: 0px;
  position: relative; }

.text {
  margin-top: 23%;
  text-align: center; }
