body {
  margin: 0px; }

#gw_article {
  height: 100%;
  width: 100%; }

.row {
  width: 100%;
  height: 100px;
  display: block; }
  .row .cell:nth-child(4n+1) {
    background-color: #5abff5;
    float: left; }
  .row .cell:nth-child(4n+2) {
    background-color: #f5bc12;
    float: right; }
  .row .cell:nth-child(4n+3) {
    background-color: #97b324;
    float: left; }
  .row .cell:nth-child(4n+4) {
    background-color: #f5671a;
    float: right; }

.cell {
  height: 100%;
  width: 50%;
  margin: 0px;
  position: relative; }

.rect {
  width: 100% !important; }
  .rect .text {
    margin-top: 20px;
    font: 15px Geneva, serif;
    color: white; }

.square .text {
  margin-top: 23%;
  text-align: center;
  font: bold 18px Geneva, serif;
  color: white; }
